---
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<section id="bnr">
    <div class="cInner">
        <div class="bnr__txt">
            <p class="txt-name">Beauty White Powder</p>
            <p class="txt-info">
                {
                    t({
                        ja: "価格 ¥18,000（税込）",
                        en: "Price ¥18,000（tax included）",
                    })
                }
            </p>
            <a
                href="https://cocoashiya18.thebase.in/p/00002"
                target="_blank"
                class="btn"
            >
                {
                    t({
                        ja: "ご購入",
                        en: "Purchase",
                    })
                }
            </a>
        </div>
        <div class="bnr__image">
            <img src="/img/img_product.png" alt="" />
        </div>
    </div>
</section>

<style lang="scss">
    section#bnr {
        background: url("/img/img_bnr_bg.png") center center / cover no-repeat;
        div.cInner {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 40px 0;

            @media (max-width: 767px) {
                flex-direction: column;
                padding: 40px 10px;
            }
            div.bnr__txt {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                @media (max-width: 767px) {
                    width: 100%;
                }
                p.txt-name {
                    font-size: 50px;
                    font-weight: bold;
                    @media (max-width: 767px) {
                        font-size: 30px;
                    }
                }
                p.txt-info {
                    font-size: 28px;
                    font-weight: bold;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
                a.btn {
                    width: 380px;
                    padding: 20px 0;
                    @media (max-width: 767px) {
                        width: 300px;
                        padding: 14px 0;
                    }
                }
            }
            div.bnr__image {
                width: 50%;
                @media (max-width: 767px) {
                    width: 100%;
                }
                img {
                    max-width: 460px;
                    display: block;
                    @media (max-width: 767px) {
                        max-width: 230px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
</style>
