<section id="bnr">
    <div class="cInner">
        <div class="bnr__txt">
            <p class="txt-name">Beauty White Powder</p>
            <p class="txt-info">価格 ¥18,000（税込）</p>
            <a
                href="https://cocoashiya18.thebase.in/p/00002"
                target="_blank"
                class="btn">ご購入</a
            >
        </div>
        <div class="bnr__image">
            <img src="img/img_product.png" alt="" />
        </div>
    </div>
</section>

<style lang="scss">
    section#bnr {
        background: url("/img/img_bnr_bg.png") center center / cover no-repeat;
        div.cInner {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 40px 0;
            div.bnr__txt {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                p.txt-name {
                    font-size: 50px;
                    font-weight: bold;
                }
                p.txt-info {
                    font-size: 28px;
                    font-weight: bold;
                }
                a.btn {
                    width: 380px;
                    padding: 20px 0;
                }
            }
            div.bnr__image {
                width: 50%;
                img {
                    max-width: 460px;
                }
            }
        }
    }
</style>
