---
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<section id="contact">
    <div class="cInner">
        <h2>
            {
                t({
                    ja: "お問い合わせ",
                    en: "Inquiry",
                })
            }
        </h2>
        <script src="https://www.google.com/recaptcha/api.js" async defer
        ></script><!-- 専用スクリプトの読み込み必要 -->
        <form action="hhttps://ssgform.com/s/bvBpEXlzEMtK" method="post">
            <div class="Form">
                <div class="Form-Item">
                    <p class="Form-Item-Label">
                        <span class="Form-Item-Label-Required">
                            {
                                t({
                                    ja: "必須",
                                    en: "required",
                                })
                            }
                        </span>
                        {
                            t({
                                ja: "氏名",
                                en: "name",
                            })
                        }
                    </p>
                    <input type="text" class="Form-Item-Input" placeholder="" />
                </div>
                <div class="Form-Item">
                    <p class="Form-Item-Label">
                        <span class="Form-Item-Label-Required">
                            {
                                t({
                                    ja: "必須",
                                    en: "required",
                                })
                            }
                        </span>
                        {
                            t({
                                ja: "電話番号",
                                en: "phone number",
                            })
                        }
                    </p>
                    <input
                        type="text"
                        class="Form-Item-Input"
                        placeholder="例）000-0000-0000"
                    />
                </div>
                <div class="Form-Item">
                    <p class="Form-Item-Label">
                        <span class="Form-Item-Label-Required">
                            {
                                t({
                                    ja: "必須",
                                    en: "required",
                                })
                            }
                        </span>

                        {
                            t({
                                ja: "メールアドレス",
                                en: "mail address",
                            })
                        }
                    </p>
                    <input
                        type="email"
                        class="Form-Item-Input"
                        placeholder="例）example@gmail.com"
                    />
                </div>

                <div class="Form-Item">
                    <p class="Form-Item-Label isMsg">
                        <span class="Form-Item-Label-Required">
                            {
                                t({
                                    ja: "必須",
                                    en: "required",
                                })
                            }
                        </span>

                        {
                            t({
                                ja: "お問い合わせ内容",
                                en: "",
                            })
                        }
                    </p>
                    <textarea class="Form-Item-Textarea"></textarea>
                </div>
                <div
                    class="g-recaptcha"
                    data-sitekey="6LdjdZgqAAAAAHjeGmHzHEXCLZww90AhepZ2ljh7"
                >
                </div><!-- 専用タグの設置必要 -->

                <input type="submit" class="Form-Btn" value="送信する" />
            </div>
        </form>
    </div>

    <style lang="scss">
        #contact {
            background: #e0ecff;
            div.cInner {
                padding: 80px 0;
                position: relative;
                @media (max-width: 767px) {
                    padding: 60px 20px;
                }
                h2 {
                    font-size: 60px;
                    font-weight: bold;
                    line-height: 1.25;
                    margin-bottom: 40px;
                    position: relative;
                    z-index: 9;
                    text-align: center;
                    @media (max-width: 767px) {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .Form {
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            max-width: 720px;
            padding: 40px 0 80px;
        }
        @media screen and (max-width: 480px) {
            .Form {
                margin-top: 40px;
            }
        }
        .Form-Item {
            border-top: 1px solid #ddd;
            padding-top: 24px;
            padding-bottom: 24px;
            width: 100%;
            display: flex;
            align-items: center;
        }
        @media screen and (max-width: 480px) {
            .Form-Item {
                padding-left: 14px;
                padding-right: 14px;
                padding-top: 16px;
                padding-bottom: 16px;
                flex-wrap: wrap;
            }
        }
        .Form-Item:nth-child(5) {
            border-bottom: 1px solid #ddd;
        }
        .Form-Item-Label {
            width: 100%;
            max-width: 248px;
            letter-spacing: 0.05em;
            font-weight: bold;
            font-size: 18px;
        }
        @media screen and (max-width: 480px) {
            .Form-Item-Label {
                max-width: inherit;
                display: flex;
                align-items: center;
                font-size: 15px;
            }
        }
        .Form-Item-Label.isMsg {
            margin-top: 8px;
            margin-bottom: auto;
        }
        @media screen and (max-width: 480px) {
            .Form-Item-Label.isMsg {
                margin-top: 0;
            }
        }
        .Form-Item-Label-Required {
            border-radius: 6px;
            margin-right: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 48px;
            display: inline-block;
            text-align: center;
            background: var(--darkBlue);
            color: #fff;
            font-size: 14px;
        }
        @media screen and (max-width: 480px) {
            .Form-Item-Label-Required {
                border-radius: 4px;
                padding-top: 4px;
                padding-bottom: 4px;
                width: 32px;
                font-size: 10px;
            }
        }
        .Form-Item-Input {
            border: 1px solid #ddd;
            border-radius: 6px;
            margin-left: 40px;
            padding-left: 1em;
            padding-right: 1em;
            height: 48px;
            flex: 1;
            width: 100%;
            max-width: 410px;
            background: #fff;
            font-size: 18px;
        }
        @media screen and (max-width: 480px) {
            .Form-Item-Input {
                margin-left: 0;
                margin-top: 18px;
                height: 40px;
                flex: inherit;
                font-size: 15px;
            }
        }
        .Form-Item-Textarea {
            border: 1px solid #ddd;
            border-radius: 6px;
            margin-left: 40px;
            padding-left: 1em;
            padding-right: 1em;
            height: 216px;
            flex: 1;
            width: 100%;
            max-width: 410px;
            background: #fff;
            font-size: 18px;
        }

        @media screen and (max-width: 480px) {
            .Form-Item-Textarea {
                margin-top: 18px;
                margin-left: 0;
                height: 200px;
                flex: inherit;
                font-size: 15px;
            }
        }
        .Form-Btn {
            border-radius: 6px;
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 320px;
            display: block;
            letter-spacing: 0.05em;
            background: var(--darkBlue);
            color: #fff;
            font-weight: bold;
            font-size: 20px;
        }
        @media screen and (max-width: 480px) {
            .Form-Btn {
                margin-top: 24px;
                padding-top: 8px;
                padding-bottom: 8px;
                width: 160px;
                font-size: 16px;
            }
        }

        .g-recaptcha {
            display: flex;
            justify-content: center;
        }
    </style>
</section>
