---
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;

const lists = [
    {
        url: "/img/img_domestic01.png",
        ttl: "信頼の品質",
        txt: `原料から製造まで日本国内で徹底管理。<br>安全で高品質な製品をお届けします。`,
    },
    {
        url: "/img/img_domestic02.png",
        ttl: "日本製の安心感",
        txt: `成分・容器・製造まで国産で、日本の技術力<br>と信頼性に支えられた製品。`,
    },
];
---

<section id="domestic">
    <div class="cInner">
        <h2>
            <span>
                {
                    t({
                        ja: "日本国内製造",
                        en: "",
                    })
                }
            </span>
            {
                t({
                    ja: "へのこだわり",
                    en: "Commitment to Manufacturing in Japan",
                })
            }
        </h2>
        <div class="list">
            <div class="item">
                <div>
                    <img src="/img/img_domestic01.png" alt="" />
                </div>
                <p class="ttl">
                    {
                        t({
                            ja: "信頼の品質",
                            en: "Trusted Quality",
                        })
                    }
                </p>
                <p class="txt">
                    {
                        t({
                            ja: "原料から製造まで日本国内で徹底管理。安全で高品質な製品をお届けします。",
                            en: "From raw materials to production, everything is meticulously managed within Japan, ensuring safe and high-quality products.",
                        })
                    }
                </p>
            </div>
            <div class="item">
                <div>
                    <img src="/img/img_domestic02.png" alt="" />
                </div>
                <p class="ttl">
                    {
                        t({
                            ja: "日本製の安心感",
                            en: "Made in Japan",
                        })
                    }
                </p>
                <p class="txt">
                    {
                        t({
                            ja: "成分・容器・製造まで国産で、日本の技術力と信頼性に支えられた製品。",
                            en: "All ingredients, packaging, and manufacturing processes are domestically sourced, supported by Japan’s advanced technology and reliability.",
                        })
                    }
                </p>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    section#domestic {
        background: #fff;
        div.cInner {
            padding: 80px 0;
            h2 {
                font-size: 36px;
                font-weight: bold;
                line-height: 1.25;
                margin-bottom: 40px;
                position: relative;
                z-index: 9;
                margin: 0 auto 80px;
                text-align: center;
                @media (max-width: 767px) {
                    font-size: 18px;
                    margin-bottom: 30px;
                }
                span {
                    display: inline-block;
                    font-size: 60px;
                    @media (max-width: 767px) {
                        font-size: 36px;
                    }
                }
            }
            div.list {
                display: flex;
                justify-content: space-between;
                @media (max-width: 767px) {
                    flex-direction: column;
                    align-items: center;
                    gap: 40px;
                    padding: 0 20px;
                }
                div.item {
                    width: 46%;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    div {
                        margin-bottom: 20px;
                        img {
                        }
                    }
                    p.ttl {
                        text-align: center;
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    p.txt {
                        text-align: center;
                    }
                }
            }
        }
    }
</style>
