---
const lists = [
    {
        ttl: "美白効果",
        txt: `歯の表面に光を反射し、<br>一時的に歯を明るく見せる<br>光学効果。`,
    },
    {
        ttl: "再石灰化促進",
        txt: `歯のエナメル質に<br>自然な成分を再吸収させ、<br>微細な傷を修復。`,
    },
    {
        ttl: "保護効果",
        txt: `酸に強い保護層を形成し、<br>歯をしっかりガード。`,
    },
    {
        ttl: "ステイン除去",
        txt: `微粒子がコーヒーやワインなどに<br>よる着色汚れを物理的に除去し、<br>再付着を防ぐ。`,
    },
];

import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<section id="feature">
    <div class="cInner">
        <h2>
            {
                t({
                    ja: "Beauty White Powder",
                    en: "Beauty White Powder",
                })
            }
            <span>
                {
                    t({
                        ja: "の特長と効果",
                        en: "Features and effects",
                    })
                }
            </span>
        </h2>
        <div class="list">
            <div class="item">
                <div class="item-ttl">
                    {
                        t({
                            ja: "美白効果",
                            en: "Whitening Effect",
                        })
                    }
                </div>

                <div class="item-txt">
                    {
                        t({
                            ja: "歯の表面に光を反射し、一時的に歯を明るく見せる光学効果。",
                            en: "Reflects light on the surface of the teeth, creating a temporary brightening optical effect for a radiant smile.",
                        })
                    }
                </div>
            </div>
            <div class="item">
                <div class="item-ttl">
                    {
                        t({
                            ja: "再石灰化促進",
                            en: "Promotes Remineralization",
                        })
                    }
                </div>

                <div class="item-txt">
                    {
                        t({
                            ja: "歯のエナメル質に自然な成分を再吸収させ、微細な傷を修復。",
                            en: "Helps reabsorb natural minerals into the enamel, repairing minor damage and enhancing strength.",
                        })
                    }
                </div>
            </div>
            <div class="item">
                <div class="item-ttl">
                    {
                        t({
                            ja: "保護効果",
                            en: "Protective Barrier",
                        })
                    }
                </div>

                <div class="item-txt">
                    {
                        t({
                            ja: "微粒子がコーヒーやワインなどによる着色汚れを物理的に除去し、再付着を防ぐ。",
                            en: "Forms an acid-resistant protective layer to guard teeth against harmful substances.",
                        })
                    }
                </div>
            </div>
            <div class="item">
                <div class="item-ttl">
                    {
                        t({
                            ja: "ステイン除去",
                            en: "Stain Removal",
                        })
                    }
                </div>

                <div class="item-txt">
                    {
                        t({
                            ja: "歯の表面に光を反射し、一時的に歯を明るく見せる光学効果。",
                            en: "Fine particles physically eliminate discoloration caused by coffee, wine, and other stains, while preventing further buildup.",
                        })
                    }
                </div>
            </div>
        </div>
        <div class="recommend">
            <p>
                {
                    t({
                        ja: "こんな方にオススメです",
                        en: "Recommended For",
                    })
                }
            </p>
            <div class="recommend__inner">
                <ul>
                    <li>
                        {
                            t({
                                ja: "コーヒー・紅茶等による歯の着色が気になる方",
                                en: "Those who concern about tooth discoloration caused by coffee, tea, and other beverages.",
                            })
                        }
                    </li>
                    <li>
                        {
                            t({
                                ja: "歯の白さを持続したい方",
                                en: "Those who want to maintain long-lasting whiteness of their teeth.",
                            })
                        }
                    </li>
                    <li>
                        {
                            t({
                                ja: "口の臭いが気になる方",
                                en: "Those who worried about bad breath and seeking fresher oral hygiene.",
                            })
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {
        locale === "en" ? (
            <style lang="scss">
        section#feature {
            background: url("/img/img_feature_bg.png") center center / cover;
            @media (max-width: 767px) {
                overflow: hidden;
            }
            div.cInner {
                padding: 60px 0;
                position: relative;
                 @media (max-width: 767px) {
                     padding: 60px 20px;
                     }
               /* &::before {
                    content: "";
                    position: absolute;
                    top: 80px;
                    right: -80px;
                    width: 700px;
                    height: 600px;
                    z-index: 1;
                    background: url("/img/img_feature_bg-item.png") center
                        center / cover no-repeat;
                         @media (max-width: 767px) {
                          top: -40px;
                right: -23px;
                width: 250px;
                height: 400px;
                    z-index: 1;
                    background: url("/img/img_feature_bg-item-sp.png") center
                        center / contain no-repeat;
                     }
                }*/
                h2 {
                    font-size: 60px;
                    font-weight: bold;
                    line-height: 1.25;
                    margin-bottom: 40px;
                    position: relative;
                    z-index: 9;
                     @media (max-width: 767px) {
                          font-size: 30px;
                    margin-bottom: 20px;
                     }
                    span {
                        display: block;
                        font-size: 36px;
                         @media (max-width: 767px) {
                             font-size: 18px;
                         }
                    }
                }
                div.list {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    z-index: 9;
                    margin-bottom: 100px;
                    position: relative;

                     @media (max-width: 767px) {
                    flex-direction: column;
                    width: 100%;
                     margin-bottom: 0px;
                     }

                    div.item {
                        width: 48%;
                        text-align: center;
                        min-height: 250px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        z-index: 9;
                        margin-bottom: 20px;
                         @media (max-width: 767px) {
                            width: 50%;
                             min-height: 170px;
                         }
                       /* &::before {
                            content: "";
                            position: absolute;
                            top: -20px;
                            left: 0;
                            width: 300px;
                            height: 300px;
                            z-index: -1;
                             @media (max-width: 767px) {
                                  width: 200px;
                            height: 200px;
                            left: -20px;
                             }
                        }
                        &:nth-child(1) {
                            &::before {
                                background: url("/img/img_feature_blob01.png")
                                    center center / contain no-repeat;
                            }
                        }
                        &:nth-child(2) {
                             @media (max-width: 767px) {
                                margin-left: auto;
                             }
                            &::before {
                                background: url("/img/img_feature_blob02.png")
                                    center center / contain no-repeat;
                            }
                        }
                        &:nth-child(3) {
                             @media (max-width: 767px) {
                            transform: translateY(-58px);}
                            &::before {
                                background: url("/img/img_feature_blob03.png")
                                    center center / contain no-repeat;
                            }
                        }
                        &:nth-child(4) {
                              @media (max-width: 767px) {
                                margin-left: auto;
                                 transform: translateY(-125px);
                             }
                            &::before {
                                background: url("/img/img_feature_blob04.png")
                                    center center / contain no-repeat;
                            }
                        }*/
                        div.item-ttl {
                            font-size: 24px;
                            font-weight: bold;
                            margin-bottom: 20px;
                             @media (max-width: 767px) {
                                font-size: 18px;
                             }
                        }
                        div.item-txt {
                              @media (max-width: 767px) {
                                font-size: 14px;
                             }
                        }
                    }
                }
                div.recommend {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -80px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 240px;
                        height: 53px;
                        z-index: 1;
                        background: url("/img/icon_triangle.png") center center /
                            contain no-repeat;
                    }
                    p {
                        text-align: center;
                        font-size: 36px;
                        font-weight: bold;
                        margin-bottom: 20px;
                         @media (max-width: 767px) {
                            font-size: 20px;
                         }
                    }
                    div.recommend__inner {
                        width: 800px;
                        margin: 0 auto;
                        background: #fff;
                        padding: 40px 60px;
                        border-radius: 25px;
                        border: 6px solid var(--darkBlue);
                        position: relative;
                          @media (max-width: 767px) {
                   width: 100%;
                   padding: 20px 30px;
                }
                       /* &::before {
                            content: "";
                            position: absolute;
                            bottom: -67px;
                            right: 20px;
                            width: 120px;
                            height: 140px;
                            z-index: 1;
                            background: url("/img/img_feature_woman.png") center
                                center / contain no-repeat;
                                 @media (max-width: 767px) {
                                      width: 120px;
                            height: 100px;
                             right: 0px;
                                 }
                        }*/
                        ul {
                            li {
                                font-size: 20px;
                                font-weight: bold;
                                margin-bottom: 20px;
                                 @media (max-width: 767px) {
                            font-size: 16px;
                         }
                            }
                        }
                    }
                }
            }
        }
    </style>
        ) : locale === "ja" ? (
          <style lang="scss">
       section#feature {
        background: url("/img/img_feature_bg.png") center center / cover;
        @media (max-width: 767px) {
            overflow: hidden;
        }
        div.cInner {
            padding: 60px 0;
            position: relative;
            @media (max-width: 767px) {
                padding: 60px 20px;
            }
            /* &::before {
                    content: "";
                    position: absolute;
                    top: 80px;
                    right: -80px;
                    width: 700px;
                    height: 600px;
                    z-index: 1;
                    background: url("/img/img_feature_bg-item.png") center
                        center / cover no-repeat;
                         @media (max-width: 767px) {
                       top: -40px;
                right: -23px;
                width: 250px;
                height: 400px;
                    z-index: 1;
                    background: url("/img/img_feature_bg-item-sp.png") center
                        center / contain no-repeat;
                     }
                }*/
            h2 {
                font-size: 60px;
                font-weight: bold;
                line-height: 1.25;
                margin-bottom: 40px;
                position: relative;
                z-index: 9;
                @media (max-width: 767px) {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                span {
                    display: block;
                    font-size: 36px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }
            }
            div.list {
                width: 50%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                z-index: 9;
                margin-bottom: 100px;
                position: relative;

                @media (max-width: 767px) {
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 0px;
                }

                div.item {
                    width: 48%;
                    text-align: center;
                    min-height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    z-index: 9;
                    margin-bottom: 20px;
                    @media (max-width: 767px) {
                        width: 50%;
                        min-height: 170px;
                    }
                   /* &::before {
                        content: "";
                        position: absolute;
                        top: -20px;
                        left: 0;
                        width: 300px;
                        height: 300px;
                        z-index: -1;
                        @media (max-width: 767px) {
                            width: 200px;
                            height: 200px;
                            left: -20px;
                        }
                    }
                    &:nth-child(1) {
                        &::before {
                            background: url("/img/img_feature_blob01.png")
                                center center / contain no-repeat;
                        }
                    }
                    &:nth-child(2) {
                        @media (max-width: 767px) {
                            margin-left: auto;
                        }
                        &::before {
                            background: url("/img/img_feature_blob02.png")
                                center center / contain no-repeat;
                        }
                    }
                    &:nth-child(3) {
                        @media (max-width: 767px) {
                            transform: translateY(-58px);
                        }
                        &::before {
                            background: url("/img/img_feature_blob03.png")
                                center center / contain no-repeat;
                        }
                    }
                    &:nth-child(4) {
                        @media (max-width: 767px) {
                            margin-left: auto;
                            transform: translateY(-125px);
                        }
                        &::before {
                            background: url("/img/img_feature_blob04.png")
                                center center / contain no-repeat;
                        }
                    }*/
                    div.item-ttl {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 20px;
                        @media (max-width: 767px) {
                            font-size: 18px;
                        }
                    }
                    div.item-txt {
                        @media (max-width: 767px) {
                            font-size: 14px;
                        }
                    }
                }
            }
            div.recommend {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: -80px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 240px;
                    height: 53px;
                    z-index: 1;
                    background: url("/img/icon_triangle.png") center center /
                        contain no-repeat;
                }
                p {
                    text-align: center;
                    font-size: 36px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
                div.recommend__inner {
                    width: 800px;
                    margin: 0 auto;
                    background: #fff;
                    padding: 40px 60px;
                    border-radius: 25px;
                    border: 6px solid var(--darkBlue);
                    position: relative;
                    @media (max-width: 767px) {
                        width: 100%;
                        padding: 20px 30px;
                    }
                   /* &::before {
                        content: "";
                        position: absolute;
                        bottom: -67px;
                        right: 20px;
                        width: 240px;
                        height: 280px;
                        z-index: 1;
                        background: url("/img/img_feature_woman.png") center
                            center / contain no-repeat;
                        @media (max-width: 767px) {
                            width: 120px;
                            height: 140px;
                            right: 10px;
                        }
                    }*/
                    ul {
                        li {
                            font-size: 22px;
                            font-weight: bold;
                            margin-bottom: 20px;
                            @media (max-width: 767px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    </style>
        ) : null
    }

   
</section>
