---
import { useTranslations, type Lang } from "@/i18n";

import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<footer id="footer">
    <div class="cInner">
        <p>BEAUTY WHITE POWDER</p>
        <nav>
            <ul>
                <ul>
                    <li>
                        <a href="#">
                            {
                                t({
                                    ja: "特徴",
                                    en: "Feature",
                                })
                            }
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {
                                t({
                                    ja: "成分",
                                    en: "Ingredient",
                                })
                            }
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {
                                t({
                                    ja: "こだわり",
                                    en: "Made in Japan",
                                })
                            }
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {
                                t({
                                    ja: "使用方法",
                                    en: "How to use",
                                })
                            }
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {
                                t({
                                    ja: "お客様の声",
                                    en: "Testimonials",
                                })
                            }
                        </a>
                    </li>
                </ul>
            </ul>
        </nav>

        <p class="copyright">
            coryright Beauty White Powder All Rights Reserved.
        </p>
    </div>
</footer>

<style lang="scss">
    footer#footer {
        background: #e0ecff;
        div.cInner {
            padding: 80px 0 1px;
            p {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 80px;
            }
            nav {
                margin-bottom: 80px;
                ul {
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                    li {
                        a {
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .copyright {
                text-align: center;
                font-size: 12px;
            }
        }
    }
</style>
