---
import LocaleSelect from "@/components/i18n/LocaleSelect.astro";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import Humberger from "./Humberger.astro";
const t = useTranslations(Astro.currentLocale as Lang);

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;

const nav = [
    {
        name: "特徴",
        link: "#feature",
    },
    {
        name: "成分",
        link: "#ingredients",
    },
    {
        name: "こだわり",
        link: "#domestic",
    },
    {
        name: "使用方法",
        link: "#use",
    },
    {
        name: "お客様の声",
        link: "#voice",
    },
];
---

<header id="header">
    <div class="cInner">
        <a href="/" class="logo"
            ><img src="/img/img_logo.png" alt="beauty white powder" /></a
        >
        <nav>
            <ul>
                <li>
                    <a href="#feature">
                        {
                            t({
                                ja: "特徴",
                                en: "Feature",
                            })
                        }
                    </a>
                </li>
                <li>
                    <a href="#ingredients">
                        {
                            t({
                                ja: "成分",
                                en: "Ingredient",
                            })
                        }
                    </a>
                </li>
                <li>
                    <a href="#domestic">
                        {
                            t({
                                ja: "こだわり",
                                en: "Made in Japan",
                            })
                        }
                    </a>
                </li>
                <li>
                    <a href="#use">
                        {
                            t({
                                ja: "使用方法",
                                en: "How to use",
                            })
                        }
                    </a>
                </li>
                <li>
                    <a href="#voice">
                        {
                            t({
                                ja: "お客様の声",
                                en: "Testimonials",
                            })
                        }
                    </a>
                </li>
            </ul>
        </nav>

        <a
            href="https://cocoashiya18.thebase.in/p/00002"
            target="_blank"
            class="btn"
        >
            {
                t({
                    ja: "ご購入",
                    en: "Purchase",
                })
            }</a
        >

        <Humberger />
        <div class="langSelectBox">
            <LocaleSelect />
        </div>
    </div>
</header>
<style lang="scss">
    header#header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        div.cInner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            max-width: 1300px;
            @media (max-width: 767px) {
                max-width: 100%;
                padding: 20px 0px;
            }
            a.logo {
                width: 80px;
                z-index: 9999;
                @media (max-width: 767px) {
                    width: 40px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                }
                img {
                }
            }
            nav {
                transform: translateX(50px);
                z-index: 999;
                @media (max-width: 767px) {
                    background: #aabbcc;
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 100%;
                    display: none;
                }
                ul {
                    display: flex;
                    gap: 30px;
                    @media (max-width: 767px) {
                        flex-direction: column;
                    }
                    li {
                        a {
                            font-size: 18px;
                            font-weight: bold;
                            transition: all 0.3s;
                            &:hover {
                                color: #0c67b9;
                            }
                        }
                    }
                }
            }
            a.btn {
                width: 230px;
            }

            .langSelectBox {
                z-index: 999;
                position: fixed;
                bottom: 11px;
                left: 10%;
                transform: translateX(-50%);
                @media (max-width: 767px) {
                    position: fixed;
                    bottom: 11px;
                    left: 25%;
                    transform: translateX(-50%);
                }
            }
        }
    }
</style>
