---
import LocaleSelect from "@/components/i18n/LocaleSelect.astro";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;

const nav = [
    {
        name: "特徴",
        link: "#feature",
    },
    {
        name: "成分",
        link: "#ingredients",
    },
    {
        name: "こだわり",
        link: "#domestic",
    },
    {
        name: "使用方法",
        link: "#use",
    },
    {
        name: "お客様の声",
        link: "#voice",
    },
];
---

<header id="header">
    <div class="cInner">
        <a href="/" class="logo"
            ><img src="/img/img_logo.png" alt="beauty white powder" /></a
        >
        <nav>
            <ul>
                <li>
                    <a href="#feature">
                        {
                            t({
                                ja: "特徴",
                                en: "Feature",
                            })
                        }
                    </a>
                </li>
                <li>
                    <a href="#ingredients">
                        {
                            t({
                                ja: "成分",
                                en: "Ingredient",
                            })
                        }
                    </a>
                </li>
                <li>
                    <a href="#domestic">
                        {
                            t({
                                ja: "こだわり",
                                en: "Made in Japan",
                            })
                        }
                    </a>
                </li>
                <li>
                    <a href="#use">
                        {
                            t({
                                ja: "使用方法",
                                en: "How to use",
                            })
                        }
                    </a>
                </li>
                <li>
                    <a href="#voice">
                        {
                            t({
                                ja: "お客様の声",
                                en: "Testimonials",
                            })
                        }
                    </a>
                </li>
            </ul>
        </nav>

        <LocaleSelect />
        <!--<a
            href="https://cocoashiya18.thebase.in/p/00002"
            target="_blank"
            class="btn">ご購入</a
        > -->
    </div>
</header>

<style lang="scss">
    header#header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        div.cInner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            max-width: 1300px;
            a.logo {
                img {
                }
            }
            nav {
                transform: translateX(50px);
                ul {
                    display: flex;
                    gap: 30px;
                    li {
                        a {
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                }
            }
            a.btn {
                width: 230px;
            }
        }
    }
</style>
