---
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;

const lists = [
    {
        num: "01",
        ttl: "酸化チタン",
        txt: `優れた光反射で歯に輝きと<br>透明感をプラス。`,
    },
    {
        num: "02",
        ttl: "酸化タングステン",
        txt: `歯の色ムラを抑え、より均一な<br>白さを実現。`,
    },
    {
        num: "03",
        ttl: "真珠パウダー",
        txt: `光沢効果で歯に自然なツヤを与え、<br>理想的な白さをサポート。`,
    },
];
---

<section id="ingredients">
    <div class="cInner">
        <h2>
            {
                t({
                    ja: "こだわりの",
                    en: "",
                })
            }
            <span>
                {
                    t({
                        ja: "",
                        en: "3",
                    })
                }
            </span>
            <span>
                {
                    t({
                        ja: "3",
                        en: "",
                    })
                }
            </span>
            {
                t({
                    ja: "つの成分",
                    en: "key Ingredients",
                })
            }
        </h2>
        <div class="list">
            <div class="item">
                <p class="num">01</p>
                <p class="ttl">
                    {
                        t({
                            ja: "歯垢とステインの形成抑制",
                            en: "Titanium Oxide",
                        })
                    }
                </p>
                <p class="txt">
                    {
                        t({
                            ja: "歯垢とステインの形成抑制",
                            en: "Provides exceptional light reflection, enhancing the brightness and transparency of teeth for a radiant smile.",
                        })
                    }
                </p>
            </div>
            <div class="item">
                <p class="num">02</p>
                <p class="ttl">
                    {
                        t({
                            ja: "酸化タングステン",
                            en: "Tungsten Oxide",
                        })
                    }
                </p>
                <p class="txt">
                    {
                        t({
                            ja: "歯の色ムラを抑え、より均一な白さを実現。",
                            en: "Reduces uneven tooth coloration, achieving a more uniform and natural whiteness.",
                        })
                    }
                </p>
            </div>
            <div class="item">
                <p class="num">03</p>
                <p class="ttl">
                    {
                        t({
                            ja: "真珠パウダー",
                            en: "Pearl Powder",
                        })
                    }
                </p>
                <p class="txt">
                    {
                        t({
                            ja: "光沢効果で歯に自然なツヤを与え、理想的な白さをサポート。",
                            en: "Adds a glossy effect, giving teeth a natural shine and supporting an ideal white appearance.",
                        })
                    }
                </p>
            </div>
        </div>
        <div class="effect">
            <dl>
                <dt>
                    {
                        t({
                            ja: "歯垢とステインの形成抑制",
                            en: "Prevention of Plaque and",
                        })
                    }<br>
                     {
                        t({
                            ja: "",
                            en: "Stain Formation ",
                        })
                    }
                </dt>
                <dd>
                    {
                        t({
                            ja: "弱アルカリ性が酸を中和し、歯垢やステインの再付着を防ぎます。",
                            en: "The mild alkalinity neutralizes acids in the mouth, helping to prevent the buildup of plaque and the reattachment of stains.",
                        })
                    }
                    <br />
                </dd>
            </dl>
            <dl>
                <dt>
                    {
                        t({
                            ja: "口腔内の健康維持",
                            en: "Oral Health Maintenance",
                        })
                    }
                </dt>
                <dd>
                    {
                        t({
                            ja: "歯垢やミネラルの沈着を防ぎ、",
                            en: "Inhibits plaque formation and mineral deposits, reducing the risk of cavities and periodontal disease while promoting overall oral hygiene.",
                        })
                    }<br>
                     {
                        t({
                            ja: "虫歯や歯周病のリスク低減に貢献します。",
                            en: "",
                        })
                    }
                </dd>
            </dl>
        </div>
    </div>
</section>

{
    locale === "ja" ? (
      <style lang="scss">
    section#ingredients {
        background: #fff;
        div.cInner {
            padding: 80px 0;
              @media (max-width: 767px) {
                padding: 40px 20px;
              }
            h2 {
                font-size: 36px;
                font-weight: bold;
                line-height: 1.25;
                margin-bottom: 40px;
                position: relative;
                z-index: 9;
                margin: 0 auto 80px;
                text-align: center;

                  @media (max-width: 767px) {
                          font-size: 30px;
                    margin-bottom: 20px;
                     }
                span {
                    display: inline-block;
                    font-size: 60px;
                      @media (max-width: 767px) {
                             font-size: 42px;
                         }
                }
            }
            div.list {
                display: flex;
                justify-content: space-between;
                margin-bottom: 160px;
                  @media (max-width: 767px) {
                                     flex-wrap: wrap;
                justify-content: center;
                gap: 12px;
                     }
                div.item {
                    width: 30%;
                    border: 4px solid var(--darkBlue);
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    border-radius: 15px;
                    padding: 60px 30px 30px;
                    min-height: 380px;
                    box-shadow: 6px 6px 0 var(--darkBlue);

                      @media (max-width: 767px) {
                                       width: 48%;
                    margin-bottom: 6px;
                                        padding: 20px 10px 20px;
                    min-height: 210px;
                     }
                    p.num {
                        font-size: 36px;
                        font-weight: bold;
                          @media (max-width: 767px) {
                             font-size: 30px;
                          }
                    }
                    p.ttl {
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 30px;
                        text-align: center;
                        min-height: 81px;
                          @media (max-width: 767px) {
                           font-size: 16px;
                        min-height: 20px;
                          }
                    }
                    p.txt {
                        font-size: 20px;
                         text-align: center;
                           @media (max-width: 767px) {
                          font-size: 12px;
                          }
                    }
                }
            }
            div.effect {
                width: 900px;
                margin: 0 auto;
                background: #fff;
                padding: 40px 60px;
                border-radius: 15px;
                border: 5px solid var(--darkBlue);
                position: relative;

                          @media (max-width: 767px) {
                   width: 100%;
                    padding: 20px 30px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: -100px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 240px;
                    height: 53px;
                    z-index: 1;
                    background: url("/img/icon_triangle.png") center center /
                        contain no-repeat;
                        
                }
               /* &::after {
                    content: "";
                    position: absolute;
                    bottom: -42px;
                    right: 20px;
                    width: 120px;
                    height: 240px;
                    z-index: 1;
                    background: url("/img/img_ingridients_man.png") center
                        center / contain no-repeat;
                         @media (max-width: 767px) {
                             width: 60px;
                    height: 120px;
bottom: -22px;
                right: 10px;
                         }
                }*/
                dl {
                    display: flex;
                    font-size: 18px;
                    font-weight: bold;
                      @media (max-width: 767px) {
                       flex-direction: column;
                         font-size: 16px;
                     }
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    dt {
                        min-width: 250px;
                        position: relative;
                        &::after {
                            content: "▶︎";
                            position: absolute;
                            top: 8%;
                            right: 10px;
                            font-size: 18px;
                              @media (max-width: 767px) {
                          transform: rotate(90deg);
                          top: 0%;
                          font-size: 14px;
                          }
                        }
                    }
                    dd {
                    }
                }
            }
        }
    }
</style>
    ) : locale === "en" ? (
    <style lang="scss">
    section#ingredients {
        background: #fff;
        div.cInner {
            padding: 80px 0;
              @media (max-width: 767px) {
                padding: 40px 20px;
              }
            h2 {
                font-size: 36px;
                font-weight: bold;
                line-height: 1.25;
                margin-bottom: 40px;
                position: relative;
                z-index: 9;
                margin: 0 auto 80px;
                text-align: center;

                  @media (max-width: 767px) {
                          font-size: 30px;
                    margin-bottom: 20px;
                     }
                span {
                    display: inline-block;
                    font-size: 60px;
                      @media (max-width: 767px) {
                             font-size: 42px;
                         }
                }
            }
            div.list {
                display: flex;
                justify-content: space-between;
                margin-bottom: 160px;
                  @media (max-width: 767px) {
                                     flex-wrap: wrap;
                justify-content: center;
                gap: 12px;
                     }
                div.item {
                    width: 30%;
                    border: 4px solid var(--darkBlue);
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    border-radius: 15px;
                    padding: 60px 30px 30px;
                    min-height: 380px;
                    box-shadow: 6px 6px 0 var(--darkBlue);

                      @media (max-width: 767px) {
                                       width: 48%;
                    margin-bottom: 6px;
                                        padding: 20px 10px 20px;
                    min-height: 210px;
                     }
                    p.num {
                        font-size: 36px;
                        font-weight: bold;
                          @media (max-width: 767px) {
                             font-size: 30px;
                          }
                    }
                    p.ttl {
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 30px;
                        text-align: center;
                      
                          @media (max-width: 767px) {
                           font-size: 16px;
                        
                          }
                    }
                    p.txt {
                        font-size: 20px;
                         text-align: center;
                           @media (max-width: 767px) {
                          font-size: 12px;
                          }
                    }
                }
            }
            div.effect {
                width: 900px;
                margin: 0 auto;
                background: #fff;
                padding: 40px 60px;
                border-radius: 15px;
                border: 5px solid var(--darkBlue);
                position: relative;

                          @media (max-width: 767px) {
                   width: 100%;
                    padding: 20px 30px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: -100px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 240px;
                    height: 53px;
                    z-index: 1;
                    background: url("/img/icon_triangle.png") center center /
                        contain no-repeat;
                        
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -40px;
                    right: 10px;
                    width: 80px;
                    height: 200px;
                    z-index: 1;
                    background: url("/img/img_ingridients_man.png") center
                        center / contain no-repeat;
                         @media (max-width: 767px) {
                             width: 60px;
                    height: 120px;
bottom: -22px;
                right: 10px;
                         }
                }
                dl {
                    display: flex;
                    font-size: 18px;
                    font-weight: bold;
                      @media (max-width: 767px) {
                       flex-direction: column;
                         font-size: 16px;
                     }
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    dt {
                        min-width: 260px;
                        position: relative;
                        &::after {
                            content: "▶︎";
                            position: absolute;
                            top: 3%;
                            right: 8px;
                            font-size: 18px;
                              @media (max-width: 767px) {
                          transform: rotate(90deg);
                          top: 0%;
                          font-size: 14px;
                          }
                        }
                    }
                    dd {
                    }
                }
            }
        }
    }
</style>
    ) : null
}

