---
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
    getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<section id="use">
    <div class="cInner">
        <h2>
            {
                t({
                    ja: "歯科医院の使用方法",
                    en: "Usage Instructions",
                })
            }<br />
            {
                t({
                    ja: "",
                    en: "for Dental Clinics",
                })
            }
        </h2>
        <p>
            {
                t({
                    ja: "歯科用薬剤に混ぜて使用可能",
                    en: "The powder can be blended with ",
                })
            }
            <br />
            {
                t({
                    ja: "",
                    en: "dental medications to enhance its usability",
                })
            }
            <br />
            {
                t({
                    ja: "白い薬剤になり歯に塗布しやすくなります",
                    en: "When mixed, it transforms into a white paste,",
                })
            }
            <br />
            {
                t({
                    ja: "",
                    en: "making it easier to apply evenly on the teeth.",
                })
            }
        </p>
        <div class="list">
            <div class="item">
                {
                    t({
                        ja: "毎日の歯磨きに",
                        en: "Add It to Your",
                    })
                }
                <br />
                {
                    t({
                        ja: "プラスするだけで",
                        en: "Daily Brushing Routine",
                    })
                }<br />
                {
                    t({
                        ja: "OK!",
                        en: "– That’s It!",
                    })
                }
            </div>
            <div class="item">
                {
                    t({
                        ja: "使い方は簡単、",
                        en: "Just Mix It with",
                    })
                }
                <br />
                {
                    t({
                        ja: "いつもの歯磨きに",
                        en: "Your Regular",
                    })
                }<br />
                {
                    t({
                        ja: "混ぜるだけ!",
                        en: "Toothpaste!",
                    })
                }
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    section#use {
        background: #f7e701;
        min-height: 650px;
        div.cInner {
            padding: 100px 0;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                width: 600px;
                height: 435px;
                z-index: 1;
                background: url("/img/img_use_woman.png") center center /
                    contain no-repeat;
            }
            h2 {
                font-size: 60px;
                font-weight: bold;
                line-height: 1.25;
                margin-bottom: 40px;
                position: relative;
                z-index: 9;
            }
            p {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 40px;
            }
            div.list {
                display: flex;
                gap: 20px;
                div.item {
                    background: url("/img/img_use_frame.png") center center /
                        contain no-repeat;
                    width: 265px;
                    height: 270px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
</style>
